/* 
COLORES
verde agua: #31AFB4
blanco: #FFFFFF
*/

/* fuente monserrat (font-family: 'Montserrat', sans-serif;) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* Reseteo */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* para scrollear más lento entre secciones */
    scroll-behavior: smooth;
    max-width: 100%;
    
}

.bg-blanco{
    background-color: white;
}

.bg-verde{
    background-color:#31AFB4;
}

html {
    /* para referenciar el position del footer */
    min-height: 100%;
    position: relative;
}

.body-verde{
    background-color: #31AFB4;
    /*me queda la barra para scrollear horizontalmente y nose como sacarla ¿?*/
    /*defino el ancho del contenedor mas grande como el 100 de la pantalla*/
    max-width: 100%;
 
   
     
}

.body-blanco{
    background-color: white;
    /*me queda la barra para scrollear horizontalmente y nose como sacarla ¿?*/
    /*defino el ancho del contenedor mas grande como el 100 de la pantalla*/
    max-width: 100%;
 

}

/*letra y estilo de las listas*/
ul{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    
}

/* estilo a las fuentes de los enlaces */
a{
    font-family: 'Montserrat', sans-serif;
   
    text-transform: uppercase;
   
    
}

/* estilo a las fuentes de los parrafos */
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    
}


/*ESTILO DEL HEADER*/

/*la clase informacion tiene los datos que quiero poner en la primer linea de la pag*/
.informacion {
    /* animacion para la info */
    /* aparece más grande desde arriba*/
    animation: info 2s;

}

/* Agrandar el item del menu donde pongo el cursor */
.navbar-nav a:hover {
    transform: scale(1.2);
    border-bottom: #31AFB4 2px solid;
}



@keyframes info {
    0% {
        opacity: 0;
        /* negativos mueven hacia arriba */
        transform: scale(1.5) translateY(-0.75em);
      }
      20% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        transform: translateZ(-1000em);
      }
}

/*FIN ESTILO DEL HEADER*/

/*IMAGEN DE INICIO*/
/*css para la imagen dentro de la seccion*/
.imagen-inicio h1{
    color: white;
    font-size: 4vw;
}

 
 @keyframes opacidad-imagen {
    0% {
        opacity: 0.6;
      }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.8;
    }
    75% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
      }
 }
.subtitulo-imagen{
    font-family: 'Montserrat', sans-serif;
    
    font-size: 4vw;
       
 }

 .mov-left {
    /* animacion para que el 1er titulo aparezca desde la izquierda */
    animation: fromLeft 3s;
 }

 @keyframes fromLeft {
    0% {
        opacity: 0;
        /* negativos mueven hacia arriba */
        transform: scale(1.5) translateX(-100%);
      }
      20% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        transform: translateZ(-1000em);
      }
}

/* Ocultar imagen en mobile */
@media only screen and (max-width:468px){
    .imagen-inicio{
        display: none;
    }

}


/*FIN IMAGEN DE INICIO*/

/*NOSOTROS Y CONTACTO*/
/* seccion nosotros (ES UN ID) → quiero dos columnas */
/* la seccion contacto la quiero igual asi que reutilizo el codigo */
#nosotros, #contacto {
    
    height: 25%;
    display: flex;
    width: 100vw;

    /*padding porque al tener un div con width del 50% no puedo centrarlo bien sin el padding*/
    padding: 1% 5%;
    /*separo los divs equidistantemente en el eje X*/
    justify-content: space-evenly;

    flex-wrap: wrap;

    text-align: justify;
    line-height: 1.6;

            
}

/*como quiero el fondo de distinto color en contacto debo diferenciar los colores de letra segun la clase*/
#nosotros {
    color: white;
    /*para evitar que el header me tape la seccion al clickear el enlace pongo un scroll-margin-top*/
    scroll-margin-top: 15vh;
  
}

#contacto {
    background-color: white;
    color:#31AFB4;
    padding-bottom: 5%;
}

#nosotros h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 5%;
    font-size: 1.8vw;
       
}


#contacto h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#31AFB4;
    padding: 3%;
    font-size: 1.8vw;
}

 #nosotros div, #contacto div{
    /*ancho del 50% del contenedor para que tengan el mismo ancho cada div*/
    width: 50%;
    /*flexbox para centrar el contenido*/
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    font-size: 1vw;
 
}  

@media only screen and (max-width:468px){
    #contacto div {
        width: 100%;
        margin-bottom: 5%;
    }

}

@media only screen and (max-width:994px){
   /* cuando se colapsa el menu no quiero que me tape la seccion al bajar → aumento el scroll margin top */
    #nosotros{
        scroll-margin-top: 45vh;
    }
}



.contacto-mapa iframe{
   padding: 0% 10%;
   /* width: 100%;
   height: 100%; */
     
}

.texto-prof ul{
    list-style:square;
    color: white;
}

/* FOOTER -------------------------------------------------------------- */

footer{
    /* el ancho y alto es acorde a la pantalla → uso vh y vw */
    height: fit-content;
    width: 100vw;
      

    /* fuente */
    color:#FFFFFF;

    
    /* borde superior */
    border-top:double 5px  white ;
   
    position: absolute;
    bottom: 0;
}

.footer-info {
    
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    font-size: 1vw;
      
}



/* FIN FOOTER ---------------------------------------------------------- */

/* SERVICIOS */

.contenido-servicios h1 {
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;

    font-size: 3vw;
    text-align: center;

}

@media only screen and (max-width:468px){
    .galeria-serv {
        /* para centrar */
        margin: 2%;
    }
    .galeria-serv div{
        margin: 2%;
      
    }
}

@media only screen and (min-width: 469px) and (max-width:960px){
    .galeria-serv {
        /* para centrar */
        margin: 2%;
    }
    .galeria-serv div{
        margin-bottom: 3%;
      
    }
}



/* FIN SERVICIOS -------------------------------------------------- */

/* PREGUNTAS FREC ------------------------------------------------- */

.vtabs {
    /* posiciono mi clase vtabs para que quede verticalmente del lado izq */
    max-width: 80vw;
    padding: 20px;
    margin: 50px auto;

    position: relative;
}

.vtabs input{
    /* escondo el input para que no aparezca el check */
    display: none;
}

.vtabs label {
    /* label es en linea pero quiero que ocupe el 100% del ancho → display block*/
    display: block;
    width: 20%;
    padding: 15px;
    
    /* caracteristica de la fuente */
    font-weight: 700;
    font-size: 1.8vw;
    
    font-family: 'Montserrat', sans-serif;
       
    color:#31AFB4;

    /* resalto el borde izquierdo */
    border-left: 5px solid #31AFB4;
}

.vtabs label:hover{
    /* al posicionar el mouse en una label quiero que cambie de color */
    cursor: pointer;
    color: purple;  
}

/* quiero que el input seleccionado se quede cambiado de color */
.vtabs input:checked + label{
    color:purple;
    border-left: 5px solid purple;
}

.vtabs #tab1:checked ~ .vtab-content #content1,
.vtabs #tab2:checked ~ .vtab-content #content2,
.vtabs #tab3:checked ~ .vtab-content #content3,
.vtabs #tab4:checked ~ .vtab-content #content4{
    display: block;

}

.vtabs .vtab-content {
    position:absolute;
    top:0px;
    width: 50%;
    left: 25vw;

    color: purple;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    line-height: 2.5;
    text-align: center;
}

.vtabs .vtab-content div {
    display: none;
}

.vtab-content h2 {
    font-size: 2.8vw;
}
/* FIN PREGUNTAS FREC --------------------------------------------- */