
/* PREGUNTAS FREC ------------------------------------------------- */

.vtabs {
    /* posiciono mi clase vtabs para que quede verticalmente del lado izq */
    max-width: 80vw;
    padding: 20px;
    margin: 50px auto;

    position: relative;

    

    & input {
        /* escondo el input para que no aparezca el check */
        display: none;
    }

    & label {
         /* label es en linea pero quiero que ocupe el 100% del ancho → display block*/
        display: block;
        width: 20%;
        padding: 15px;
        
        /* caracteristica de la fuente */
        font-weight: 700;
        font-size: 1.8vw;
        
        font-family:$main_font;
        
        color:$main_color_verde;

        /* resalto el borde izquierdo */
        border-left: 5px solid $main_color_verde;

        &:hover{
            /* al posicionar el mouse en una label quiero que cambie de color */
            cursor: pointer;
            color: $color_secundario;  
        }

    
    }
}




/* quiero que el input seleccionado se quede cambiado de color */
.vtabs input:checked + label{
    color:$color_secundario;
    border-left: 5px solid $color_secundario;
}

.vtabs #tab1:checked ~ .vtab-content #content1,
.vtabs #tab2:checked ~ .vtab-content #content2,
.vtabs #tab3:checked ~ .vtab-content #content3,
.vtabs #tab4:checked ~ .vtab-content #content4{
    display: block;

}

.vtabs .vtab-content {
    position:absolute;
    top:0px;
    width: 50%;
    left: 25vw;

    color: $color_secundario;
    font-family: $main_font;
    font-size: 1.2vw;
    line-height: 2.5;
    text-align: center;
}

.vtabs .vtab-content div {
    display: none;
}

.vtab-content h2 {
    font-size: 2.8vw;
}
/* FIN PREGUNTAS FREC --------------------------------------------- */